<?xml version="1.0"?>
<config>
    <modules>
        <gridJSR_Bar>
            <version>1.0.0</version>
        </gridJSR_Bar>
    </modules>

    <global>
        <helpers>
            <gridJSR_bar>
                <!-- This is where we define our helper directory -->
                <class>gridJSR_Bar_Helper</class>
            </gridJSR_bar>
        </helpers>

        <blocks>
            <gridJSR_bar>
                <!-- Set a block definition and lookup directory -->
                <class>gridJSR_Bar_Block</class>
            </gridJSR_bar>
        </blocks>

        <models>
            <gridJSR_bar>
                <!-- This is where we define our model directory -->
                <class>gridJSR_Bar_Model</class>
                <!-- Define a resource to create a custom table -->
                <resourceModel>gridJSR_bar_mysql4</resourceModel>
            </gridJSR_bar>

            <!-- Here's our resource model we'll use to create a database table -->
            <gridJSR_bar_mysql4>
                <class>gridJSR_Bar_Model_Mysql4</class>
                <entities>
                    <!-- Let's define our table, we'll call it with the baz name, but the real table is gridJSR_bar_baz -->
                    <!-- After we define our entity, we can call it with our model by calling gridJSR_bar/baz -->
                    <baz>
                        <table>gridJSR_bar_baz</table>
                    </baz>
                </entities>
            </gridJSR_bar_mysql4>
        </models>

        <!-- And finally we define our resource setup script -->
        <resources>
            <gridJSR_bar_setup>
                <setup>
                    <module>gridJSR_Bar</module>
                </setup>
            </gridJSR_bar_setup>
        </resources>
    </global>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <!-- This is how we load our Adminhtml controllers -->
                    <modules>
                        <gridJSR_Bar before="Mage_Adminhtml">gridJSR_Bar_Adminhtml</gridJSR_Bar>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <gridJSR_bar>
                    <!--
                    We again keep a nice naming convention and make our module upgrade proof by placing it in a separate folder
                    - Since we are in the adminhtml node, this will look for the XML file in the app/design/adminhtml/default/default root folder
                    -->
                    <file>gridJSR/bar.xml</file>
                </gridJSR_bar>
            </updates>
        </layout>
    </adminhtml>
</config>